
.accordion-body {
    border: 2px solid grey;
    padding: 5px 50px;
    display: none;  
}

.accordion-title{
    height: 30px;
    font-size: large;
    border: 2px solid grey;
    margin: 5px 100px;
    cursor: pointer;
    transition:  0.4s;
    padding: 5px 10px;
    background-color: grey;
}
.accordion-active {
    background-color: darkgrey;
    display: block; 
}

.accordion-body .accordion-active {
    display: block;
}

.accordion-title .accordion-active {
   background-color: darkgray;
}



/* 
* {
    box-sizing: border-box;
    margin: 0;
}

.accordionset-body {
    display: block;
    align-items: center;
    border: 2px solid grey;
    margin: 5px 50px;
    text-align: center;
    
}
.accordionset-bodies .accordionset-body {
    display: none;
}

.accordionset-bodies {
    float: left;
}
.accordionset-titles {
    height: 30px;
}
.accordionset-titles .accordionset-title{
    font-size: large;
    text-align: center;
    border: 2px solid grey;
    margin: 5px 100px;
    cursor: pointer;
    transition:  0.4s;
    margin-bottom: 40px;
}
.accordionset-titles .accordionset-active {
    background-color: grey;
    position: relative;
}
.accordionset-bodies .accordionset-active {
    display: block; 
} */